/*---------------------- Google fons link ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*---------------------- Boilerplate code ------------------- */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    font-family: 'poppins';
}
html , body{
    width:100%;
    height:100%;
}

:root {
    --box-shadow: 0 0 20px rgba(0,0,0,0.1);
    --border-radius: 10px;
    --card-background: linear-gradient(0deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255, 0.6) 100%);
    --blur: blur(10px);
    --primery-color: #ff8911;
    --card-border: 2px solid rgba(255,255,255, 1);
}

/*---------------------- Main Header ------------------- */

.main-header{
    padding-top: 80px;
    min-height: 90vh;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    position:relative;
}


/*---------------------- Nav ------------------- */
.nav{
    text-wrap:nowrap;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 5%;
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0%;
    left:50%;
    transform: translateX(-50%);
    z-index:99;
    box-shadow: var(--box-shadow);
    border: var(-card-border);
    backdrop-filter: saturate(80%) blur(10px);
    background: var(--card-background);
}
.logo{
    justify-self: flex-start;
}

.logo h1{
    font-size: 30px;
}

.logo h1 span{
    color: var(--primery-color);
}
.nav ul{
    transition:all .4s !important;
}

.nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav ul li a{
    color:#000;
    font-size: 14px;
    font-weight: 500;
    position:relative;
}

.nav ul li a:after{
    background: red;
    position:absolute;
    content: "";
    top: 100%;
    left:0;
    height:2px;
    width:0;
    border-radius: 5px;
    background-color: var(--primery-color);
    transition: 1s;
}

.nav ul li a:hover:after{
    width:100%;
}

.nav>i{
    font-size: 24px;
    flex-basis: 10%;
    display:none;
}
.nav .fa-user{
    display: block;
}


.Store-button {
    height:50px;
    width:150px;
    background-color: var(--primery-color);
    transition: .5s;
    border:none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.Store-button:hover{
    color: white;
    background-color:#1e1e1e;
}

/*---------------------- Header ------------------- */
.slider{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.slider-imgs {
    display:flex;
    flex-basis: 100%;
    overflow:hidden;
}
.slider-imgs img{
    object-fit: cover;
    right: 0;
    min-width:100%;
    max-height: 200px;
    position:relative;
    transition: .5s;
}
.slider-nav{
    align-self:center;
    padding: 0 18px;
    bottom: 30px;
    position:relative;
    height: 15px;
    background: rgba(0,0,0,0.2);
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 22px;
}
.slider-nav button{
    width: 8px;
    height: 8px;
    border: none;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    transition: .5s ease;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.slider-nav .selected{
    width: 12px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.2);
}

/*---------------------- Header ------------------- */
.header{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: space-around;
    gap: 30px;
}

.header .content{
    width: 60%; 
    padding: 2rem 3rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 30px;
    z-index: 1;
    overflow: visible;
}

.header .content h1 span{
    color: var(--primery-color);
}

.header .content h1{
    font-size: 50px;
    line-height: 80px;
    text-transform: capitalize;
}

.header .content p{
    font-size: 19px;
    line-height: 30px;
    font-weight:500;
}
.buttons {
    display:flex;
    width: 100%;
    justify-content:center;
    gap: 30px;
    
}
.buttons button:first-child{
    height:50px;
    width:150px;
    transition: .5s;
    border: 2px solid var(--primery-color);
    background: #fff;
    border-radius: 5px;
    color: var(--primery-color);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

}
.buttons button:hover{
    background: #1e1e1e;
    color: white;
    border:none;
}

/*---------------------- Updates Section ------------------- */
.wrapper{
    margin-top: 80px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.updates{
    width: 1400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.updates h4{
    font-size: 80px;
    color: var(--primery-color);
    text-transform:uppercase;
    text-align:center;
    margin:20px;
}
.update-cards{
    padding: 1rem 0;
    width:100%;
    height: 480px;
    overflow: auto; 
    display:flex;
    flex-direction:column;
    gap: 25px;
    justify-content: flex-start;
    align-items:flex-start;
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.update-card{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
    box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.05);
    border: 0.2px solid rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 10px;
    transition: .6s;
}
.update-card:hover{
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1), -3px -3px 8px rgba(0,0,0,0.1);
    border-color: var(--primery-color);
}
.updates button{
    color: var(--primery-color);
    background:#fff;
    height: 50px;
    width: 120px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 8px;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
    border: 1.5px solid var(--primery-color);
    border-radius: 30px;
    transition: .6s;
    font-weight: 600;
    position:relative;
    bottom: 25px;
}
.updates button:hover{
    background: var(--primery-color);
    color: aliceblue;
    border:none;
}
/*---------------------- Event Section ------------------- */
.section-title{
    margin-top: 100px;
    padding: 8px 4%;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section-title h4{
    font-size: 80px;
    color: var(--primery-color);
    text-transform:uppercase;
    text-align:center;

}
.swiper button{
    padding: 0 20px;
    color:#000;
    background: transparent;
    margin:auto;
    height: 50px;
    display:flex;
    align-items:center;
    justify-content:center;
    border: none;
    font-size: 20px;
    gap: 8px;
    transition: .3s;
    font-weight: 600;
    border-bottom: 2px solid #000;
}
.swiper button:hover{
    border-bottom-color: var(--primery-color);
    color: var(--primery-color);
}
.swiper{
    max-width: 1400px;
    display: flex;
    flex-direction:column;
    align-items: space-between;
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.swiper .swiper-wrapper{
    margin: 30px 0;
    height: 300px;
    display: flex;
    align-items: center;
}
.swiper .swiper-slide{
    height: 80%;
    border-radius: 10px;
    background: #fff;
    max-width: 400px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 24px;
    border: 0.8px solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1), -2px -2px 12px rgba(0,0,0,0.1);
    box-shadow: var(--box-shadow);
    transition:all .3s;
}
.swiper .swiper-slide:hover{
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1), -3px -3px 8px rgba(0,0,0,0.1);
    border-color: var(--primery-color);
}
.swiper-slide img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}
.contents {
    display:flex;
    justify-self:space-around;
    padding: 10px 16px;
    flex-direction:column;
    align-items: space-around;
}
.contents h4{
    font-size: 22px;
    font-weight: 600;
}
.contents p{
    font-size:14px;
}


/* ------------------------ Store Section ----------------------- */
.store{
    background:#f6f6f6;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: space-around;
}
.store-element-heading{
    display:flex;
    padding: 8px 2%;
    justify-content:space-between;
    margin: 18px 0;
}
.store-element-heading h4{
    font-size: 22px;
    font-weight: 500;
}
.store-element-heading a{
    color:#000;
    padding: 0 8px;
    display:flex;
    align-items:center;
    padding: 6px 10px;
    border-radius: 10px;
    justify-content:center;
    border: 2px solid #000;
    gap: 8px;
    font-weight: 500;
    transition:all .4s;
}
.store-element-heading a:hover{
    background:#000;
    color:#fff;
}
.courses ,.notes {
    align-items:center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    overflow: auto;
}

.store-item{
    width: 165px;
    margin: 20px 0;
    height: 250px;
    background:#fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    display:flex;
    flex-direction:column;
}
.store-item img{
    height: 60%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    width: 100%;
}
.store-item h4{
    font-size: 16px;
    font-weight: 600;
    display:flex;
    margin-left: 12px;
    align-items: center;
    gap: 8px;
}
.store-item p{
    font-size: 13px;
    font-weight: 500;
    margin-left:12px;
    color:#000;
}
.fotter {
    background: rgba(0,0,0,0.9);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding: 20px 0;
    margin-top: 200px;
    background: var(--primery-color);
}

.comment {
    padding: 12px 8px;
    border-radius:22px;
    background:#fff;
    display:flex;
    align-items:center;
    position:relative;
    top: -53px;
    box-shadow: -2px -2px 22px rgba(0,0,0,0.1), 2px 2px 22px rgba(0,0,0,0.1);
}
.comment input{
    border: none;
    border-radius: 12px;
    width: 40vw;
    height: 40px;
    box-shadow: inset 2px 2px 6px rgba(0,0,0,0.18);
    padding: 12px;
    font-size: 1rem;
    letter-spacing: 1px;
    position:relative;
    left: 5%;
}

.comment p {
    font-size: 12px;
    word-wrap: wrap;
    width: 80px;
    text-align: center;
    font-style:italic;
    font-weight: 500;
    margin-left: 10px;
    
}
.comment button {
    border: none;
    background-color: var(--primery-color);
    width: 80px;
    font-weight: 600;
    color:#fff;
    height:46px;
    border-radius: 22px;
    transition: all 0.4s;
    z-index: 2;

}
.comment button:hover{
    border: 2px solid var(--primery-color);
    background:#fff;
    color: var(--primery-color);
}
.social-links{
    padding: 14px 22px;
    border-bottom: 2px solid #fff;
    display:flex;
    gap: 26px;
    margin: 8px;
}
.social-links i{
    color: #fff;
    font-weight: 200;
    font-size: 23px;
}

.copyright{
    color:#fff;
    font-weight:500;
    margin: 30px;
}

#social-link-heading{
    font-weight: 600;
    color: var(--primery-color);
    font-size: 20px;
    color: #fff;
}
/* ------------------------ Store Section ----------------------- */
@media only screen and (orientation: portrait){
    .store-title{
        font-size: 50px;
    }
    .nav{
        padding: 8%;
    }
    .noblur{
        backdrop-filter: none;
        background:#fff;
    }
    .nav i{
        display: block;
    }
    .nav ul{
        position:absolute;
        top: 110%;
        left:0;
        padding-left: 10%;
        width:100%;
        background:#fff;
        display:none;
    } 
    .nav ul li{
        display:block;
        margin: 20px 0;
        padding: 5px 0;
    }
    .nav ul li .Store-button i{
        display:inline;
     }
    .nav .showmenu{
        display:block;
        background-color: rgba(255,255,255,0.6);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        backdrop-filter: blur(10px) saturate(80%) !important;
    }
    .main-header{
        background-position: center;
        background-size:cover;

    }
    .header .content{
        width: 100vw;
    }
    .header .content h1{
        font-size: 30px;
        width: 100%;
        line-height: 48px;
    }
    .header .content p{
        font-size: 16px;
    }
    .nav-btn-2{
        display:none !important;
    }
    .nav-btn{
        display:block;
    }
    .updates h4{
        font-size: 40px;
    }
    .section-title h4{
        font-size: 40px;
    }
    .swiper .swiper-slide{
        max-width:270px;
    }

}


